body { margin: 0; }
#my_poker {
    border: 1px dashed orange;
    position: relative;
    width: 75px;
    height: 110px;
    cursor: pointer;
}
#board {
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border: 1px solid green;
    border-radius: 0 0 50% 50%;
    position: relative;
}
.back { 
    background: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
 }
.spades { background: url(../images/spades.png) }
.hearts { background: url(../images/hearts.png) }
.diamonds { background: url(../images/diamonds.png) }
.clubs { background: url(../images/clubs.png) }
.suits-1 { background-position: 0 -1px; }
.suits-2 { background-position: 0 -114px; }
.suits-3 { background-position: 0 -225px; }
.suits-4 { background-position: 0 -335px; }
.suits-5 { background-position: 0 -450px; }
.suits-6 { background-position: 0 -562px; }
.suits-7 { background-position: 0 -674px; }
.suits-8 { background-position: 0 -787px; }
.suits-9 { background-position: 0 -902px; }
.suits-10 { background-position: 0 -1013px; }
.suits-11 { background-position: 0 -1126px; }
.suits-12 { background-position: 0 -1238px; }
.suits-13 { background-position: 0 -1351px; }
.poker {
    position: absolute;
    width: 75px;
    height: 110px;
    left: 0;
    top: 0;
}
.trans_1s {
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
.trans_2s {
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
}
.move {
    top: 50%;
    left: 20%;
    margin-left: -37.5px;
}
.bank_move {
    top: 10%;
    left: 30%;
}
.move:nth-of-type(3) { margin-left: 0; }
.move:nth-of-type(4) { margin-left: 37.5px; }
.move:nth-of-type(5) { margin-left: 75px; }
.move:nth-of-type(6) { margin-left: 112.5px; }
.move:nth-of-type(7) { margin-left: 150px; } 
.move:nth-of-type(8) { margin-left: 187.5px; } 
.move:nth-of-type(9) { margin-left: 225px; }
.move:nth-of-type(10) { margin-left: 262.5px; }
.move:nth-of-type(11) { margin-left: 300px; }
.move:nth-of-type(12) { margin-left: 337.5px; }

.turn {
    transform: rotateY(270deg);
    -webkit-transform: rotateY(270deg);
}
.turn_back {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}
#actions,
.score {
    text-align: center;
    margin-top: 10px;
}
.score > span {
    border: 1px dotted #00ACAB;
    border-width: 0 0 1px 0;
}
#stand {
    background: rgba(130, 199, 136, 0.5);
    padding: 3px;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#stand:active {
    background: rgba(130, 199, 136, 0.8);
}


