body { 
    margin: 0;
}
#my_poker {
    border: 1px dashed orange;
    position: relative;
    width: 75px;
    height: 110px;
    cursor: pointer;
}
#board {
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border: 1px solid green;
    border-radius: 0 0 50% 50%;
    position: relative;
}
#board.show_profile {
    margin-top: -470px;
}
#profile {
    height: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    position: relative;
    color: #fff;
}
#profile.move_up {
    height: 100%;
    opacity: 1;
    bottom: 0;
    margin-top: 0px;
    position: absolute; 
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlMjY3NSIgc3RvcC1vcGFjaXR5PSIwLjM3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjNDYyMjY5IiBzdG9wLW9wYWNpdHk9IjAuMzciLz4KICAgIDxzdG9wIG9mZnNldD0iNjclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNzgiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(78,38,117,0.37) 0%, rgba(70,34,105,0.37) 7%, rgba(0,0,0,0.78) 67%, rgba(0,0,0,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,38,117,0.37)), color-stop(7%,rgba(70,34,105,0.37)), color-stop(67%,rgba(0,0,0,0.78)), color-stop(99%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(78,38,117,0.37) 0%,rgba(70,34,105,0.37) 7%,rgba(0,0,0,0.78) 67%,rgba(0,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(78,38,117,0.37) 0%,rgba(70,34,105,0.37) 7%,rgba(0,0,0,0.78) 67%,rgba(0,0,0,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(78,38,117,0.37) 0%,rgba(70,34,105,0.37) 7%,rgba(0,0,0,0.78) 67%,rgba(0,0,0,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(78,38,117,0.37) 0%,rgba(70,34,105,0.37) 7%,rgba(0,0,0,0.78) 67%,rgba(0,0,0,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e4e2675', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
.back { 
    background: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
 }
.spades { background: url(../images/spades.png) }
.hearts { background: url(../images/hearts.png) }
.diamonds { background: url(../images/diamonds.png) }
.clubs { background: url(../images/clubs.png) }
.suits-1 { background-position: 0 -1px; }
.suits-2 { background-position: 0 -114px; }
.suits-3 { background-position: 0 -225px; }
.suits-4 { background-position: 0 -335px; }
.suits-5 { background-position: 0 -450px; }
.suits-6 { background-position: 0 -562px; }
.suits-7 { background-position: 0 -674px; }
.suits-8 { background-position: 0 -787px; }
.suits-9 { background-position: 0 -902px; }
.suits-10 { background-position: 0 -1013px; }
.suits-11 { background-position: 0 -1126px; }
.suits-12 { background-position: 0 -1238px; }
.suits-13 { background-position: 0 -1351px; }
.poker {
    position: absolute;
    width: 75px;
    height: 110px;
    left: 0;
    top: 0;
}
.trans_1s {
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
.trans_2s {
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
}.trans_3s {
    transition-duration: 3s;
    -webkit-transition-duration: 3s;
}
.move {
    top: 50%;
    left: 20%;
    margin-left: -37.5px;
}
.bank_move {
    top: 10%;
    left: 30%;
}
.move:nth-of-type(3) { margin-left: 0; }
.move:nth-of-type(4) { margin-left: 37.5px; }
.move:nth-of-type(5) { margin-left: 75px; }
.move:nth-of-type(6) { margin-left: 112.5px; }
.move:nth-of-type(7) { margin-left: 150px; } 
.move:nth-of-type(8) { margin-left: 187.5px; } 
.move:nth-of-type(9) { margin-left: 225px; }
.move:nth-of-type(10) { margin-left: 262.5px; }
.move:nth-of-type(11) { margin-left: 300px; }
.move:nth-of-type(12) { margin-left: 337.5px; }

.turn {
    transform: rotateY(270deg);
    -webkit-transform: rotateY(270deg);
}
.turn_back {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}
#actions,
.score {
    text-align: center;
    margin-top: 10px;
}
.score > span {
    border: 1px dotted #00ACAB;
    border-width: 0 0 1px 0;
}
#stand {
    background: rgba(130, 199, 136, 0.5);
    padding: 3px;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#stand:active {
    background: rgba(130, 199, 136, 0.8);
}
